:root {
  --green: #00be10;
  --yellow: #e4e400;
  --red: #aa0000;
  --blue: #2255ff;
  --text-color: #02040F;
  /* coolors */
  --background: #ffffff;
  --destaque: #ffb392;
  --detalhe1: #ffffff;
  --detalhe2: #e6f3ff;
  --escuro: #02040F;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--background);
  margin: 0;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  color: var(--escuro);
  background: var(--destaque);
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 44px 310px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 0.8rem;
  margin: 30px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--detalhe2);
  border-radius: 10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

.medium_container {
  margin: 20px auto;
  padding: 10px;
  background-color: var(--detalhe1);
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
}

.container_botoes {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 gap: 4px;
 background-color: rgba(0, 0, 0, 0.055);
 padding: 10px;
 border-radius: 10px;
}

.button {
  margin: 0.5px;
  height: 17px;
  width: 17px;
  border: none;
  cursor: pointer;

}

.button:hover {
  transform: scale(1.1);
  
}

.button_emoji.active { 
  transform: scale(1.2);
  box-shadow: 1px 2px 9px 0px rgb(255, 255, 255);
  filter: brightness(1.9); /* Darken the color by 20% */
}

.button_1{
  background-color: var(--green);
  border-radius: 30%;
}

.button_2 {
  background-color: var(--yellow);
  border-radius: 30%;
}

.button_3 {
  background-color: var(--red);
  border-radius: 30%;
}

.button_4 {
  background-color: var(--blue);
  border-radius: 30%;
}

.button_5 {
  background-color: var(--detalhe2);
  border-radius: 10%;
  width: fit-content;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

.input {
  padding: 1em;
  border: none;
  background-color: var(--detalhe1);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.input:hover {
  transform: scale(1.03);
}

.input:focus {
  outline: none; /* Removes default outline */
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
}

.input_row {
  display: flex;
  gap: 10px;
  margin: auto 10px;
}

.row_dados {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_pedido {
  flex: 2;
}

.input_fundamento {
  flex: 4;
}

.input_valor {
  flex: 1;
}

.botao_script {
  font-family: 'Montserrat', sans-serif;
}

