:root {
  --green: #00aa0e;
  --yellow: #b4b400;
  --red: #aa0000;
  --blue: #002ab3;
  --text-color: #02040F;
  /* coolors */
  --background: #ffffff;
  --destaque: #ffb392;
  --detalhe1: #ffffff;
  --detalhe2: #e6f3ff;
  --escuro: #02040F;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--background);
  margin: 0;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  color: var(--escuro);
  background: var(--destaque);
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 44px 310px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 0.9rem;
  margin: 10px;
}

.dica {
  background-color: var(--detalhe1);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

footer {
  display: flex;             /* Use flexbox */
  justify-content: center;   /* Center horizontally */
  align-items: center;       /* Center vertically (if needed) */
  padding: 1rem;            /* Add some padding if desired */
}

.footer {
  text-align: center;        /* Center text inside the paragraph */
  margin: 0;                 /* Remove default margin */
}

.github {
  text-decoration: none;      /* Optional: remove underline from links */
  color: #007bff;            /* Optional: set link color */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--detalhe2);
  border-radius: 10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

.container_botoes {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 gap: 4px;
 background-color: rgba(0, 0, 0, 0.055);
 padding: 10px;
 border-radius: 10px;
}

.button {
  margin: 0.5px;
  height: 17px;
  width: 17px;
  border: none;
  cursor: pointer;

}

.button:hover {
  transform: scale(1.5);
}

.button_emoji.active { 
  transform: scale(1.2);
  box-shadow: 1px 2px 9px 0px rgb(255, 255, 255);
  filter: brightness(2);
}

.button_1{
  background-color: var(--green);
  border-radius: 100%;
}

.button_2 {
  background-color: var(--yellow);
  border-radius: 100%;
}

.button_3 {
  background-color: var(--red);
  border-radius: 100%;
}

.button_4 {
  background-color: var(--blue);
  border-radius: 100%;
}

.button_5 {
  background-color: var(--detalhe2);
  border-radius: 10%;
  width: fit-content;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

.button_delete {
  background-color: var(--detalhe1);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  width: 10px;
  height: 10px;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: rgb(204, 8, 8);
  margin: auto 5px;
}

.button_delete:hover {
  filter: brightness(0.9);
}

.input {
  padding: 1em;
  border: none;
  background-color: var(--detalhe1);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 850px) {
  .input_row .input:last-child {
    margin-top: 10px; /* Add space above the last input */
    margin-right: 0; /* Remove right margin to align it below */
    flex-basis: 100%; /* Make the last input take full width */
  }
}

.input:hover {
  transform: scale(1.03);
}

.input:focus {
  outline: none; /* Removes default outline */
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
}

.input_row {
  display: flex; /* Ensures the row uses flexbox */
  flex-direction: row; /* Default direction */
  flex-wrap: wrap; /* Allow wrapping of items */
  background-color: var(--detalhe1);
  margin: 20px auto;
  padding: 10px;
  gap: 5px;
  border-radius: 10px;
}

.row_dados {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_pedido {
  flex: 2;
}

.input_fundamento {
  flex: 4;
}

.input_valor {
  flex: 1;
}

.botao_script {
  font-family: 'Montserrat', sans-serif;
}

.preview {
  color: var(--escuro);
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  background-color: var(--detalhe1);
  white-space: pre-line;
}