:root {
  --green: #6bf376;
  --dark-green: #015005;
  --yellow: #ffff7a;
  --dark-yellow: #939311;
  --red: #ff4f4f;
  --dark-red: #ad3131;
  --blue: #76d5f1;
  --dark-blue: #273bac;
  --text-color: #02040F;
  /* coolors */
  --background: #ffffff;
  --destaque: #ffb392;
  --detalhe1: #ffffff;
  --detalhe2: #e2f1ff;
  --escuro: #02040F;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--background);
  margin: 0;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  color: var(--escuro);
  background: var(--destaque);
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 44px 310px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 0.8rem;
  margin: 30px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--detalhe2);
  border-radius: 10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

.container_botoes {
  margin: 10px;
}

.linha_pedidos {
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.button {
  margin: 0.5px;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.button_1{
  background-color: var(--green);
  border-radius: 30%;
}

.button_2 {
  background-color: var(--yellow);
  border-radius: 30%;
}

.button_3 {
  background-color: var(--red);
  border-radius: 30%;
}

.button_4 {
  background-color: var(--blue);
  border-radius: 30%;
}

.input {
  padding: 1em;
  border: none;
  background-color: var(--detalhe1);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.input:hover {
  transform: scale(1.03);
}

.input:focus {
  outline: none; /* Removes default outline */
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
}

.input_row {
  display: flex;
  flex: 1;
  gap: 10px;
}

.row_dados {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_pedido {
  flex: 2;
}

.input_fundamento {
  flex: 3;
}

.input_valor {
  flex: 1;
}

.botao_script {
  font-family: 'Montserrat', sans-serif;
}

